.footer {
  padding-top: 82px;
  padding-bottom: 90px;
  &__text-title {
    color: #000000;
    font: 700 24px $font-asap;
    text-transform: uppercase;
    margin-top: 10px;
  }
  &__text-span {
    color: #8d81ac;
  }
  &__text-p {
    color: #848e97;
    font: 400 14px $font-asap;
    margin-top: 35px;
  }
  &__title-nav {
    color: #323232;
    font: 700 16px $font-asap;
  }
  &__text-link {
    max-width: 121px;
    color: #8d81ac;
    font: 400 15px/23px $font-asap;
    margin-top: 22px;
    letter-spacing: 0.3px;
  }
  &__title-number {
    color: #3f3f3f;
    font: 700 30px/28px $font-asap;
    letter-spacing: 0.6px;
    font-weight: bold;
  }
  &__text-time {
    color: #848e97;
    font: 400 12px/28px $font-asap;
    text-transform: uppercase;
    letter-spacing: 0.24px;
    margin-top: 14px;
  }
  &__title-city {
    font: 400 16px/28px $font-asap;
    color: #323232;
    margin-top: 38px;

  }
  &__text-street {
    color: #848e97;
    font: 400 14px/23px $font-asap;
  }
  &__title-info {
    color: #323232;
    font: 400 16px/28px $font-asap;
    font-weight: bold;
  }
}